@media only screen and (max-width: 960px) {
  main .column {
    width: 50%;
  }
  main .column:last-child {
    width: 100%;
  }
  header nav ul li {
    display: none;
  }

  header nav > ul > li:nth-child(1),
  header nav > ul > li:nth-child(4) {
   display: block;
 }

 header nav > ul > li:nth-child(1) {
    text-align: center;
    padding: 30px 0;
  }

  header nav > ul > li:nth-child(1) h1 {
    font-size: 40px;
  }
}
